# Step 1: Import the Libraries and Load the Excel Files

In [43]:
import pandas as pd

# Load the Excel files into DataFrames
historique_df = pd.read_excel('hh.xlsx')
agents_df = pd.read_excel('ag.xlsx')
demandes_df = pd.read_excel('dd.xlsx')

## Step 2: Check for Missing Data & Data type

In [45]:
# Check for missing data in each DataFrame
print("Historique DataFrame missing data:")
print(historique_df.isnull().sum())
print("\nAgents DataFrame missing data:")
print(agents_df.isnull().sum())
print("\nDemandes DataFrame missing data:")
print(demandes_df.isnull().sum())

Historique DataFrame missing data:
Site                                                     0
N° Demande                                               0
Agence                                                   0
Nom établissement hoteliers                              0
Hotel - Club - Residence                                 0
Ville                                                    0
Nom agent                                                0
Prenom agent                                             0
Matricule                                                0
Cat# Prof#                                               0
Date de la demande                                       0
Date debut sejour                                        0
Date fin sejour                                          0
Nombre total d'enfants                                   0
Nombre d'accompagnateurs                                 0
Nombre d'enfants partageant la chambre des parents       0
Total membres de famille                                 0
Nombre de nuites                                         0
Nombre de chambre double                                 0
Nombre de chambre single                                 0
Type de vue                                              0
Formule                                                  0
Montant factures                                         0
Quote part                                               0
Année de facturation                                     0
Mois de facturation                                      0
Statut                                                   0
Date correspondant au statut                             0
Date demande voucher                                     0
Date envoi du voucher                                    3
Nature Periode                                           0
Saison                                                   0
Référence paiement                                       0
Nbr Etoiles                                           1763
dtype: int64

Agents DataFrame missing data:
matricule                 0
nom_prenom                0
date_naissance            0
sit_fam                   0
date_embauche             0
NOMBRE_ENF                0
echelon                 351
date_debut_retraite    5592
dtype: int64

Demandes DataFrame missing data:
Site                                                    0
N° Demande                                              0
Agence                                                  0
Nom établissement hoteliers                             0
Hotel - Club - Residence                                0
Ville                                                   0
Nom agent                                               0
Prenom agent                                            0
Matricule                                               0
Cat Prof                                                0
Date de la demande                                      0
Date debut sejour                                       0
Date fin sejour                                         0
Nombre total d'enfants                                  0
Nombre d'accompagnateurs                                0
Nombre d'enfants partageant la chambre des parents      0
Total membres de famille                                0
Nombre de nuites                                        0
Nombre de chambre double                                0
Nombre de chambre single                                0
Type de vue                                             0
Formule                                                 0
Montant factures                                        0
Quote part                                            184
Année de facturation                                    0
Mois de facturation                                     0
Statut                                                  0
Date correspondant au statut                            0
Date demande voucher                                  184
Date envoi du voucher                                 184
Nature Periode                                          0
Saison                                                  0
Référence paiement                                    184
Nbr Etoiles                                           184
dtype: int64

In [46]:
print(demandes_df.columns)
print(demandes_df.head(5))
print(demandes_df.shape)

Index(['Site', 'N° Demande', 'Agence', 'Nom établissement hoteliers',
       'Hotel - Club - Residence', 'Ville', 'Nom agent', 'Prenom agent',
       'Matricule', 'Cat Prof', 'Date de la demande', 'Date debut sejour',
       'Date fin sejour', 'Nombre total d'enfants', 'Nombre d'accompagnateurs',
       'Nombre d'enfants partageant la chambre des parents',
       'Total membres de famille', 'Nombre de nuites',
       'Nombre de chambre double', 'Nombre de chambre single', 'Type de vue',
       'Formule', 'Montant factures', 'Quote part', 'Année de facturation',
       'Mois de facturation', 'Statut', 'Date correspondant au statut',
       'Date demande voucher', 'Date envoi du voucher', 'Nature Periode',
       'Saison', 'Référence paiement', 'Nbr Etoiles'],
      dtype='object')
        Site      N° Demande         Agence     Nom établissement hoteliers  \
0  Khouribga  CH-900787/2024   BOUZNIKA OCP   BOUZNIKA OCP- Période bloquée
1  Khouribga  CH-901186/2024   BOUZNIKA OCP   BOUZNIKA OCP- Période bloquée
2  Khouribga  CH-901282/2024  MARRAKECH OCP  MARRAKECH OCP- Période bloquée
3  Khouribga  CH-901444/2024  MARRAKECH OCP  MARRAKECH OCP- Période bloquée
4  Khouribga  CH-901826/2024   BOUZNIKA OCP   BOUZNIKA OCP- Période bloquée

  Hotel - Club - Residence      Ville  Nom agent Prenom agent Matricule  \
0        Centre d'Estivage   BOUZNIKA       GASI       Hicham     49788
1        Centre d'Estivage   BOUZNIKA    GAMGAME     El Maati      5455
2        Centre d'Estivage  MARRAKECH  BENKIRANE         Amal      1747
3        Centre d'Estivage  MARRAKECH    KASSIMI       Soumia     53966
4        Centre d'Estivage   BOUZNIKA     FEAFAA        SOUAD     40198

  Cat Prof  ... Année de facturation Mois de facturation  \
0       OE  ...                 2024                   8
1    TAMCA  ...                 2024                   8
2       OE  ...                 2024                   8
3    TAMCA  ...                 2024                   8
4    TAMCA  ...                 2024                   8

                     Statut  Date correspondant au statut  \
0  En attente de traitement                  45457.508472
1  En attente de traitement                  45462.446447
2  En attente de traitement                  45462.658021
3  En attente de traitement                  45463.465625
4  En attente de traitement                  45464.922292

   Date demande voucher  Date envoi du voucher  Nature Periode    Saison  \
0                   NaN                    NaN         Bloquée  saison 5
1                   NaN                    NaN         Bloquée  saison 5
2                   NaN                    NaN         Bloquée  saison 5
3                   NaN                    NaN         Bloquée  saison 5
4                   NaN                    NaN         Bloquée  saison 5

   Référence paiement  Nbr Etoiles
0                 NaN          NaN
1                 NaN          NaN
2                 NaN          NaN
3                 NaN          NaN
4                 NaN          NaN

[5 rows x 34 columns]
(184, 34)

In [47]:
print(agents_df.columns)
print(agents_df.head(5))
print(agents_df.shape)

Index(['matricule', 'nom_prenom', 'date_naissance', 'sit_fam', 'date_embauche',
       'NOMBRE_ENF', 'echelon', 'date_debut_retraite'],
      dtype='object')
  matricule            nom_prenom date_naissance    sit_fam date_embauche  \
0       365       MOUDENE Youssef     1972-09-17      Marié    1993-04-01
1       415  ELATOUANY Noureddine     1965-11-07      Marié    1992-06-04
2       519    EL AIDI Abdelhamid     1968-07-05      Marié    1992-08-01
3       615        MEHRAT Mohamed     1965-12-14      Marié    1993-01-01
4       673     CHADID Abderrahim     1966-05-20  Marié OCP    1992-10-12

   NOMBRE_ENF  echelon date_debut_retraite
0           4     31.0                 NaT
1           1     32.0                 NaT
2           2     32.0                 NaT
3           3     31.0                 NaT
4           4     32.0                 NaT
(5593, 8)

In [48]:
print(historique_df.columns)
print(historique_df.head(5))
print(historique_df.shape)

Index(['Site', 'N° Demande', 'Agence', 'Nom établissement hoteliers',
       'Hotel - Club - Residence', 'Ville', 'Nom agent', 'Prenom agent',
       'Matricule', 'Cat# Prof#', 'Date de la demande', 'Date debut sejour',
       'Date fin sejour', 'Nombre total d'enfants', 'Nombre d'accompagnateurs',
       'Nombre d'enfants partageant la chambre des parents',
       'Total membres de famille', 'Nombre de nuites',
       'Nombre de chambre double', 'Nombre de chambre single', 'Type de vue',
       'Formule', 'Montant factures', 'Quote part', 'Année de facturation',
       'Mois de facturation', 'Statut', 'Date correspondant au statut',
       'Date demande voucher', 'Date envoi du voucher', 'Nature Periode',
       'Saison', 'Référence paiement', 'Nbr Etoiles'],
      dtype='object')
        Site      N° Demande            Agence Nom établissement hoteliers  \
0  Khouribga  CH-632580/2019    CABO NEGRO OCP              CABO NEGRO OCP
1  Khouribga  CH-633881/2019    CABO NEGRO OCP              CABO NEGRO OCP
2  Khouribga  CH-638596/2019  PONT BLONDIN OCP            PONT BLONDIN OCP
3  Khouribga  CH-639500/2019      BOUZNIKA OCP                BOUZNIKA OCP
4  Khouribga  CH-639821/2019      BOUZNIKA OCP                BOUZNIKA OCP

  Hotel - Club - Residence       Ville Nom agent Prenom agent Matricule  \
0        Centre d'Estivage  CABO NEGRO   RAHMATI      Hassane     47211
1        Centre d'Estivage  CABO NEGRO   HARRACH       Elkbir     46526
2        Centre d'Estivage  MOHAMMEDIA    BOULIL   Abderrahim     46210
3        Centre d'Estivage    BOUZNIKA   LAHMAMI      Bouazza      9782
4        Centre d'Estivage    BOUZNIKA  KENOUANE     Bouchaib     52661

  Cat# Prof#  ... Année de facturation Mois de facturation     Statut  \
0         OE  ...                 2019                   7  SATISFAIT
1         OE  ...                 2019                   7  SATISFAIT
2         OE  ...                 2019                   7  SATISFAIT
3         OE  ...                 2019                   7  SATISFAIT
4         OE  ...                 2019                   7  SATISFAIT

   Date correspondant au statut  Date demande voucher  Date envoi du voucher  \
0           2019-06-25 19:05:23   2019-06-25 07:45:59    2019-06-25 19:05:23
1           2019-06-19 16:56:55   2019-06-17 11:53:40    2019-06-19 16:56:55
2           2019-07-12 11:25:24   2019-07-08 18:47:41    2019-07-12 11:25:24
3           2019-06-26 19:54:08   2019-06-26 08:09:24    2019-06-26 19:54:08
4           2019-06-25 19:15:53   2019-06-24 19:51:09    2019-06-25 19:15:53

   Nature Periode    Saison  Référence paiement  Nbr Etoiles
0         bloquée  saison 5                4234          NaN
1         bloquée  saison 5                3912          NaN
2         bloquée  saison 5                4862          NaN
3         bloquée  saison 5          1653543619          NaN
4         bloquée  saison 5                4215          NaN

[5 rows x 34 columns]
(1763, 34)

## Step 3: Create demandes_traiter DataFrame

In [49]:

    # Debug: Print initial shapes of the DataFrames
    print(f"Initial historique_df shape: {historique_df.shape}")
    print(f"Initial agents_df shape: {agents_df.shape}")
    print(f"Initial demandes_df shape: {demandes_df.shape}")

    # Filter rows based on date_debut_sejour and date_fin_sejour
    demandes_df = demandes_df[
        (demandes_df['Date debut sejour'] == "2024-08-13") &
        (demandes_df['Date fin sejour'] == "2024-08-19")
    ]
    # Debug: Print shape after filtering by dates
    print(f"demandes_df shape after date filtering: {demandes_df.shape}")

    # Create a new DataFrame 'demandes_traiter' that contains the exact content of the 'demandes' file
    demandes_traiter_df = demandes_df.copy()
    # Debug: Print shape of demandes_traiter_df after copy
    print(f"demandes_traiter_df shape after copy: {demandes_traiter_df.shape}")

    # Step 4: Filter Rows
    # Keep only rows where 'Site' is 'khouribga'
    demandes_traiter_df = demandes_traiter_df[demandes_traiter_df['Site'] == 'Khouribga']
    print(f"demandes_traiter_df shape after filtering by 'Site': {demandes_traiter_df.shape}")

    # Keep only rows where 'Nature Periode' is 'Bloquée'
    demandes_traiter_df = demandes_traiter_df[demandes_traiter_df['Nature Periode'] == 'Bloquée']
    print(f"demandes_traiter_df shape after filtering by 'Nature Periode': {demandes_traiter_df.shape}")

    # Keep only rows where 'Statut' is 'En attente de traitement'
    demandes_traiter_df = demandes_traiter_df[demandes_traiter_df['Statut'] == 'En attente de traitement']
    print(f"demandes_traiter_df shape after filtering by 'Statut': {demandes_traiter_df.shape}")

Initial historique_df shape: (1763, 34)
Initial agents_df shape: (5593, 8)
Initial demandes_df shape: (184, 34)
demandes_df shape after date filtering: (184, 34)
demandes_traiter_df shape after copy: (184, 34)
demandes_traiter_df shape after filtering by 'Site': (184, 34)
demandes_traiter_df shape after filtering by 'Nature Periode': (184, 34)
demandes_traiter_df shape after filtering by 'Statut': (184, 34)

In [50]:
from datetime import datetime

demandes_traiter_df = demandes_traiter_df.merge(
        agents_df[['matricule', 'date_embauche', 'sit_fam', 'NOMBRE_ENF', 'date_debut_retraite']],
        left_on='Matricule', right_on='matricule', how='left'
    )
    # Debug: Print shape and columns after merging
print(f"demandes_traiter_df shape after merging: {demandes_traiter_df.shape}")
print(f"demandes_traiter_df columns after merging: {demandes_traiter_df.columns}")

    # Convert dates to datetime
demandes_traiter_df['date_embauche'] = pd.to_datetime(demandes_traiter_df['date_embauche'], format='%d/%m/%Y')
demandes_traiter_df['Date debut sejour'] = pd.to_datetime(demandes_traiter_df['Date debut sejour'], format='%d/%m/%Y')
demandes_traiter_df['date_debut_retraite'] = pd.to_datetime(demandes_traiter_df['date_debut_retraite'], format='%d/%m/%Y')
    
    # Debug: Print some values to ensure correct conversion
print(demandes_traiter_df[['date_embauche', 'Date debut sejour', 'date_debut_retraite']].head())   # Merge demandes_traiter_df with agents_df to get 'date_embauche', 'sit_fam', and 'NOMBRE_ENF'

demandes_traiter_df shape after merging: (184, 39)
demandes_traiter_df columns after merging: Index(['Site', 'N° Demande', 'Agence', 'Nom établissement hoteliers',
       'Hotel - Club - Residence', 'Ville', 'Nom agent', 'Prenom agent',
       'Matricule', 'Cat Prof', 'Date de la demande', 'Date debut sejour',
       'Date fin sejour', 'Nombre total d'enfants', 'Nombre d'accompagnateurs',
       'Nombre d'enfants partageant la chambre des parents',
       'Total membres de famille', 'Nombre de nuites',
       'Nombre de chambre double', 'Nombre de chambre single', 'Type de vue',
       'Formule', 'Montant factures', 'Quote part', 'Année de facturation',
       'Mois de facturation', 'Statut', 'Date correspondant au statut',
       'Date demande voucher', 'Date envoi du voucher', 'Nature Periode',
       'Saison', 'Référence paiement', 'Nbr Etoiles', 'matricule',
       'date_embauche', 'sit_fam', 'NOMBRE_ENF', 'date_debut_retraite'],
      dtype='object')
  date_embauche Date debut sejour date_debut_retraite
0    2004-10-18        2024-08-13                 NaT
1    1993-11-22        2024-08-13          2024-07-08
2    1993-05-17        2024-08-13                 NaT
3    2008-03-01        2024-08-13                 NaT
4    2012-09-01        2024-08-13                 NaT

In [51]:
demandes_rejected_df = demandes_traiter_df[
        (demandes_traiter_df['date_debut_retraite'] <= demandes_traiter_df['Date debut sejour']) ]

if demandes_rejected_df.empty:
    print("demandes_rejected_df is empty after filtering.")

demandes_rejected_df.head(10)

,Site,N° Demande,Agence,Nom établissement hoteliers,Hotel - Club - Residence,Ville,Nom agent,Prenom agent,Matricule,Cat Prof,...,Date envoi du voucher,Nature Periode,Saison,Référence paiement,Nbr Etoiles,matricule,date_embauche,sit_fam,NOMBRE_ENF,date_debut_retraite
1,Khouribga,CH-901186/2024,BOUZNIKA OCP,BOUZNIKA OCP- Période bloquée,Centre d'Estivage,BOUZNIKA,GAMGAME,El Maati,5455,TAMCA,...,NaN,Bloquée,saison 5,NaN,NaN,5455,1993-11-22,Marié,4,2024-07-08

In [52]:
# Filter expired date_debut_retraite
demandes_traiter_df = demandes_traiter_df[
    (demandes_traiter_df['date_debut_retraite'] > demandes_traiter_df['Date debut sejour']) |
    (demandes_traiter_df['date_debut_retraite'].isna())]

print(f"demandes_traiter_df shape after filtering expired date_debut_retraite: {demandes_traiter_df.shape}")

if demandes_traiter_df.empty:
    print("DataFrame is empty after filtering.")

demandes_traiter_df.head(10)

demandes_traiter_df shape after filtering expired date_debut_retraite: (183, 39)

,Site,N° Demande,Agence,Nom établissement hoteliers,Hotel - Club - Residence,Ville,Nom agent,Prenom agent,Matricule,Cat Prof,...,Date envoi du voucher,Nature Periode,Saison,Référence paiement,Nbr Etoiles,matricule,date_embauche,sit_fam,NOMBRE_ENF,date_debut_retraite
0,Khouribga,CH-900787/2024,BOUZNIKA OCP,BOUZNIKA OCP- Période bloquée,Centre d'Estivage,BOUZNIKA,GASI,Hicham,49788,OE,...,NaN,Bloquée,saison 5,NaN,NaN,49788,2004-10-18,Marié,2,NaT
2,Khouribga,CH-901282/2024,MARRAKECH OCP,MARRAKECH OCP- Période bloquée,Centre d'Estivage,MARRAKECH,BENKIRANE,Amal,1747,OE,...,NaN,Bloquée,saison 5,NaN,NaN,1747,1993-05-17,Célibataire,0,NaT
3,Khouribga,CH-901444/2024,MARRAKECH OCP,MARRAKECH OCP- Période bloquée,Centre d'Estivage,MARRAKECH,KASSIMI,Soumia,53966,TAMCA,...,NaN,Bloquée,saison 5,NaN,NaN,53966,2008-03-01,Célibataire,0,NaT
4,Khouribga,CH-901826/2024,BOUZNIKA OCP,BOUZNIKA OCP- Période bloquée,Centre d'Estivage,BOUZNIKA,FEAFAA,SOUAD,40198,TAMCA,...,NaN,Bloquée,saison 5,NaN,NaN,40198,2012-09-01,Célibataire,0,NaT
5,Khouribga,CH-901898/2024,MARRAKECH OCP,MARRAKECH OCP- Période bloquée,Centre d'Estivage,MARRAKECH,HADDAD,Fouad,47522,OE,...,NaN,Bloquée,saison 5,NaN,NaN,47522,1999-01-04,Marié,5,NaT
6,Khouribga,CH-902057/2024,BOUZNIKA OCP,BOUZNIKA OCP- Période bloquée,Centre d'Estivage,BOUZNIKA,DAHHAN,Wahiba,77552,OE,...,NaN,Bloquée,saison 5,NaN,NaN,77552,2011-02-21,Mariée OCP,2,NaT
7,Khouribga,CH-902087/2024,CABO NEGRO OCP,CABO NEGRO OCP- Période bloquée,Centre d'Estivage,CABO NEGRO,BOUDKHIL,El Arbi,8556,OE,...,NaN,Bloquée,saison 5,NaN,NaN,8556,2001-06-01,Marié,5,NaT
8,Khouribga,CH-902317/2024,CABO NEGRO OCP,CABO NEGRO OCP- Période bloquée,Centre d'Estivage,CABO NEGRO,EL QALEB,Ahmed,78278,OE,...,NaN,Bloquée,saison 5,NaN,NaN,78278,2011-02-21,Marié,4,NaT
9,Khouribga,CH-902347/2024,BOUZNIKA OCP,BOUZNIKA OCP- Période bloquée,Centre d'Estivage,BOUZNIKA,EL ARISSI EL IDRISSI,Moulay Bouazza,47204,OE,...,NaN,Bloquée,saison 5,NaN,NaN,47204,1998-10-19,Marié,4,NaT
10,Khouribga,CH-904163/2024,CABO NEGRO OCP,CABO NEGRO OCP- Période bloquée,Centre d'Estivage,CABO NEGRO,ETTALABI,Mohammed,46773,TAMCA,...,NaN,Bloquée,saison 5,NaN,NaN,46773,1998-08-03,Marié,3,NaT

In [37]:
 # Calculate A
from dateutil.relativedelta import relativedelta
demandes_traiter_df['A'] = demandes_traiter_df['date_embauche'].apply(lambda x: relativedelta(datetime.now(), x).years * 12 + relativedelta(datetime.now(), x).months)
print(f"demandes_traiter_df shape after calculating 'A': {demandes_traiter_df.shape}")

demandes_traiter_df shape after calculating 'A': (183, 40)

In [38]:
# Calculate S
def calculate_S(row):
    sit_fam = row['sit_fam'].strip().lower()
    nbr_enf = row['NOMBRE_ENF']

    if sit_fam not in ['célibataire']:
        if nbr_enf <= 3:
            return 5 + nbr_enf * 5
        else:
            return 20
    else:
        return 0  # Default to 0 for unknown cases

demandes_traiter_df['S'] = demandes_traiter_df.apply(calculate_S, axis=1)
print(f"demandes_traiter_df shape after calculating 'S': {demandes_traiter_df.shape}")

demandes_traiter_df shape after calculating 'S': (183, 41)

In [39]:
# Calculate D
def calculate_D(row, historique_df):
    matricule = row['Matricule']
    matricule_rows = historique_df[historique_df['Matricule'] == matricule]
    total_D = 0

    for index, hist_row in matricule_rows.iterrows():
        date_de_debut_sejour = hist_row['Date debut sejour']
        year_difference = datetime.now().year - date_de_debut_sejour.year

        if year_difference == 1:
            total_D += 140
        elif year_difference == 2:
            total_D += 90
        elif year_difference == 3:
            total_D += 50
        elif year_difference >= 4:
            total_D += 20

    return total_D

demandes_traiter_df['D'] = demandes_traiter_df.apply(calculate_D, axis=1, historique_df=historique_df)
demandes_traiter_df['D'] = demandes_traiter_df['D'].fillna(0)
print(f"demandes_traiter_df shape after calculating 'D': {demandes_traiter_df.shape}")

demandes_traiter_df shape after calculating 'D': (183, 42)

In [40]:
# Calculate P
demandes_traiter_df['P'] = 2 * (demandes_traiter_df['A'] + demandes_traiter_df['S']) - demandes_traiter_df['D']
print(f"demandes_traiter_df shape after calculating 'P': {demandes_traiter_df.shape}")

    # Sorting based on 'P'
demandes_traiter_df = demandes_traiter_df.sort_values(by=['P', 'A', 'S', 'Date de la demande'], ascending=[False, False, False, False])
print(f"demandes_traiter_df shape after sorting: {demandes_traiter_df.shape}")

demandes_traiter_df shape after calculating 'P': (183, 43)
demandes_traiter_df shape after sorting: (183, 43)

In [41]:
demandes_traiter_df.shape
demandes_traiter_df.columns
demandes_traiter_df.head(10)

,Site,N° Demande,Agence,Nom établissement hoteliers,Hotel - Club - Residence,Ville,Nom agent,Prenom agent,Matricule,Cat Prof,...,Nbr Etoiles,matricule,date_embauche,sit_fam,NOMBRE_ENF,date_debut_retraite,A,S,D,P
35,Khouribga,CH-920221/2024,BOUZNIKA OCP,BOUZNIKA OCP- Période bloquée,Centre d'Estivage,BOUZNIKA,DERBJAR,Azedine,77353,TAMCA,...,NaN,77353,1985-07-01,Marié,3,NaT,469,20,250,728
94,Khouribga,CH-931950/2024,CABO NEGRO OCP,CABO NEGRO OCP- Période bloquée,Centre d'Estivage,CABO NEGRO,OUAZZANE,Mohammed,47790,TAMCA,...,NaN,47790,1999-08-01,Marié,5,NaT,300,20,0,640
151,Khouribga,CH-933723/2024,BOUZNIKA OCP,BOUZNIKA OCP- Période bloquée,Centre d'Estivage,BOUZNIKA,IDIR,Mohamad,9726,TAMCA,...,NaN,9726,2000-06-01,Marié,3,NaT,290,20,0,620
123,Khouribga,CH-933019/2024,CABO NEGRO OCP,CABO NEGRO OCP- Période bloquée,Centre d'Estivage,CABO NEGRO,SKHAIRI,Hammou,9800,OE,...,NaN,9800,2000-06-01,Marié,3,NaT,290,20,0,620
152,Khouribga,CH-933735/2024,BOUZNIKA OCP,BOUZNIKA OCP- Période bloquée,Centre d'Estivage,BOUZNIKA,HAJIB,Abdellatif,8301,TAMCA,...,NaN,8301,1997-06-01,Marié,5,NaT,326,20,110,582
20,Khouribga,CH-912717/2024,CABO NEGRO OCP,CABO NEGRO OCP- Période bloquée,Centre d'Estivage,CABO NEGRO,TOUIJER,Mostafa,9925,OE,...,NaN,9925,1997-06-01,Marié,4,NaT,326,20,110,582
43,Khouribga,CH-921432/2024,BOUZNIKA OCP,BOUZNIKA OCP- Période bloquée,Centre d'Estivage,BOUZNIKA,DIMOQRATI,Mhamed,9845,OE,...,NaN,9845,1996-06-01,Marié,4,NaT,338,20,140,576
120,Khouribga,CH-932934/2024,BOUZNIKA OCP,BOUZNIKA OCP- Période bloquée,Centre d'Estivage,BOUZNIKA,HABCHI,Khalid,46567,TAMCA,...,NaN,46567,1998-07-15,Marié,3,NaT,312,20,90,574
9,Khouribga,CH-902347/2024,BOUZNIKA OCP,BOUZNIKA OCP- Période bloquée,Centre d'Estivage,BOUZNIKA,EL ARISSI EL IDRISSI,Moulay Bouazza,47204,OE,...,NaN,47204,1998-10-19,Marié,4,NaT,309,20,90,568
68,Khouribga,CH-927535/2024,BOUZNIKA OCP,BOUZNIKA OCP- Période bloquée,Centre d'Estivage,BOUZNIKA,CHMICHE,Mohamed,9933,OE,...,NaN,9933,1998-06-01,Marié,3,NaT,314,20,110,558

## Step 4: Filter Rows Based on Ville

In [42]:
# Keep only rows where 'Ville' is 'khouribga'
demandes_traiter_df = demandes_traiter_df[demandes_traiter_df[' Ville'] == 'khouribga']
print(demandes_traiter_df.head(5))

KeyError: ' Ville'

## Step 5: Add retraite Column and Calculate Its Values

In [ ]:
from datetime import datetime

# Convert 'Date_embauche' to datetime
demandes_traiter_df['Date_embauche'] = pd.to_datetime(demandes_traiter_df['Date_embauche'], format='%d/%m/%Y')

# Calculate 'retraite' as the difference between current date and 'Date_embauche'
demandes_traiter_df['retraite'] = (datetime.now() - demandes_traiter_df['Date_embauche']).astype('<m8[Y]')

In [ ]:
print(demandes_traiter_df.columns)
print(demandes_traiter_df.head(5))
print(demandes_traiter_df.tail(5))

Index(['N_Demande_CH', 'Matricule', 'Nom_Prenom', ' Ville', 'Etablissement',
       'date_de_debut_sejour', 'date_fin_sejour', 'Type_de_vue', 'sit_fam',
       'Nbr_enf', 'Date_embauche', 'retraite'],
      dtype='object')
  N_Demande_CH  Matricule           Nom_Prenom      Ville Etablissement  \
0       CH-101       1000   Bentimzal mohammed  khouribga     marakeche
1       CH-102       1001        Bella khadija  khouribga    capo negro
2      CH-1003       1002           nasri imad  khouribga    capo negro
3      CH-1004       1003          Khiar Siham  khouribga    capo negro
4      CH-1005      20047   Elkarouiti Chaimaa  khouribga      bouznika

  date_de_debut_sejour date_fin_sejour Type_de_vue      sit_fam  Nbr_enf  \
0           2024-08-07      2024-08-14  2ch+1salon        Marie        2
1           2024-08-08      2024-08-16  2ch+1salon     Marie(e)        2
2           2024-08-07      2024-08-14  3ch+1salon        Marie        3
3           2024-08-08      2024-08-16  2ch+1salon  celebataire        0
4           2024-09-12      2024-09-21  2ch+1salon     Marie(e)        5

  Date_embauche  retraite
0    1999-01-10      25.0
1    1998-02-11      26.0
2    1991-05-14      33.0
3    1992-06-11      32.0
4    1993-02-15      31.0
   N_Demande_CH  Matricule          Nom_Prenom      Ville Etablissement  \
12     CH-10012     478152       Bousaid Rabab  khouribga    capo negro
13     CH-10013    1111111        nasri lamine  khouribga     marakeche
14       CH-100         10  mohssine lakhdissi  khouribga    capo negro
15         CH-1         11       karima fatihi  khouribga     marakeche
17         CH-3         13       najlali jalal  khouribga      bouznika

   date_de_debut_sejour date_fin_sejour Type_de_vue   sit_fam  Nbr_enf  \
12           2024-09-05      2024-09-10  2ch+1salon  Marie(e)        3
13           2024-08-07      2024-08-14  2ch+1salon     Marie        3
14           2024-09-05      2024-09-10  2ch+1salon     Marie        5
15           2024-08-07      2024-08-14  2ch+1salon  Marie(e)        2
17           2024-09-12      2024-09-21  2ch+1salon     Marie        4

   Date_embauche  retraite
12    1996-02-13      28.0
13    1993-05-14      31.0
14    1964-07-10      60.0
15    1980-05-10      44.0
17    1990-02-13      34.0

## Step 6: Delete Rows Based on retraite Column

In [ ]:
# Drop rows where 'retraite' is 60 or greater
demandes_traiter_df = demandes_traiter_df[demandes_traiter_df['retraite'] < 60]

In [ ]:
print(demandes_traiter_df.columns)
print(demandes_traiter_df.head(5))
print(demandes_traiter_df.tail(5))

Index(['N_Demande_CH', 'Matricule', 'Nom_Prenom', ' Ville', 'Etablissement',
       'date_de_debut_sejour', 'date_fin_sejour', 'Type_de_vue', 'sit_fam',
       'Nbr_enf', 'Date_embauche', 'retraite'],
      dtype='object')
  N_Demande_CH  Matricule           Nom_Prenom      Ville Etablissement  \
0       CH-101       1000   Bentimzal mohammed  khouribga     marakeche
1       CH-102       1001        Bella khadija  khouribga    capo negro
2      CH-1003       1002           nasri imad  khouribga    capo negro
3      CH-1004       1003          Khiar Siham  khouribga    capo negro
4      CH-1005      20047   Elkarouiti Chaimaa  khouribga      bouznika

  date_de_debut_sejour date_fin_sejour Type_de_vue      sit_fam  Nbr_enf  \
0           2024-08-07      2024-08-14  2ch+1salon        Marie        2
1           2024-08-08      2024-08-16  2ch+1salon     Marie(e)        2
2           2024-08-07      2024-08-14  3ch+1salon        Marie        3
3           2024-08-08      2024-08-16  2ch+1salon  celebataire        0
4           2024-09-12      2024-09-21  2ch+1salon     Marie(e)        5

  Date_embauche  retraite
0    1999-01-10      25.0
1    1998-02-11      26.0
2    1991-05-14      33.0
3    1992-06-11      32.0
4    1993-02-15      31.0
   N_Demande_CH  Matricule         Nom_Prenom      Ville Etablissement  \
11      CH-1011    4712300  Ridallah Nissrine  khouribga     marakeche
12     CH-10012     478152      Bousaid Rabab  khouribga    capo negro
13     CH-10013    1111111       nasri lamine  khouribga     marakeche
15         CH-1         11      karima fatihi  khouribga     marakeche
17         CH-3         13      najlali jalal  khouribga      bouznika

   date_de_debut_sejour date_fin_sejour Type_de_vue    sit_fam  Nbr_enf  \
11           2024-08-07      2024-08-14  2ch+1salon  Marie ocp        1
12           2024-09-05      2024-09-10  2ch+1salon   Marie(e)        3
13           2024-08-07      2024-08-14  2ch+1salon      Marie        3
15           2024-08-07      2024-08-14  2ch+1salon   Marie(e)        2
17           2024-09-12      2024-09-21  2ch+1salon      Marie        4

   Date_embauche  retraite
11    1997-01-15      27.0
12    1996-02-13      28.0
13    1993-05-14      31.0
15    1980-05-10      44.0
17    1990-02-13      34.0

## Calculate A

In [ ]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
# Calculate 'A' as the difference between current date and 'Date_embauche' in months
demandes_traiter_df['A'] = demandes_traiter_df['Date_embauche'].apply(lambda x: relativedelta(datetime.now(), x).years * 12 + relativedelta(datetime.now(), x).months)

In [ ]:
print(demandes_traiter_df.columns)
print(demandes_traiter_df.head(5))
print(demandes_traiter_df.tail(5))

Index(['N_Demande_CH', 'Matricule', 'Nom_Prenom', ' Ville', 'Etablissement',
       'date_de_debut_sejour', 'date_fin_sejour', 'Type_de_vue', 'sit_fam',
       'Nbr_enf', 'Date_embauche', 'retraite', 'A'],
      dtype='object')
  N_Demande_CH  Matricule           Nom_Prenom      Ville Etablissement  \
0       CH-101       1000   Bentimzal mohammed  khouribga     marakeche
1       CH-102       1001        Bella khadija  khouribga    capo negro
2      CH-1003       1002           nasri imad  khouribga    capo negro
3      CH-1004       1003          Khiar Siham  khouribga    capo negro
4      CH-1005      20047   Elkarouiti Chaimaa  khouribga      bouznika

  date_de_debut_sejour date_fin_sejour Type_de_vue      sit_fam  Nbr_enf  \
0           2024-08-07      2024-08-14  2ch+1salon        Marie        2
1           2024-08-08      2024-08-16  2ch+1salon     Marie(e)        2
2           2024-08-07      2024-08-14  3ch+1salon        Marie        3
3           2024-08-08      2024-08-16  2ch+1salon  celebataire        0
4           2024-09-12      2024-09-21  2ch+1salon     Marie(e)        5

  Date_embauche  retraite    A
0    1999-01-10      25.0  306
1    1998-02-11      26.0  317
2    1991-05-14      33.0  397
3    1992-06-11      32.0  385
4    1993-02-15      31.0  376
   N_Demande_CH  Matricule         Nom_Prenom      Ville Etablissement  \
11      CH-1011    4712300  Ridallah Nissrine  khouribga     marakeche
12     CH-10012     478152      Bousaid Rabab  khouribga    capo negro
13     CH-10013    1111111       nasri lamine  khouribga     marakeche
15         CH-1         11      karima fatihi  khouribga     marakeche
17         CH-3         13      najlali jalal  khouribga      bouznika

   date_de_debut_sejour date_fin_sejour Type_de_vue    sit_fam  Nbr_enf  \
11           2024-08-07      2024-08-14  2ch+1salon  Marie ocp        1
12           2024-09-05      2024-09-10  2ch+1salon   Marie(e)        3
13           2024-08-07      2024-08-14  2ch+1salon      Marie        3
15           2024-08-07      2024-08-14  2ch+1salon   Marie(e)        2
17           2024-09-12      2024-09-21  2ch+1salon      Marie        4

   Date_embauche  retraite    A
11    1997-01-15      27.0  329
12    1996-02-13      28.0  340
13    1993-05-14      31.0  373
15    1980-05-10      44.0  530
17    1990-02-13      34.0  412

## Calculate S

In [ ]:
# Function to calculate 'S'
def calculate_S(row, agents_df):
    agent_row = agents_df[agents_df['Matricule'] == row['Matricule']]
    if not agent_row.empty:
        sit_fam = agent_row.iloc[0]['sit_fam'].strip()
        nbr_enf = agent_row.iloc[0]['Nbr_enf']
        if sit_fam in ['Marie', 'Marie(e)', 'Marie ocp']:
            return min(nbr_enf * 4, 20)
    return 0

# Calculate 'S' for each row in demandes_traiter_df
demandes_traiter_df['S'] = demandes_traiter_df.apply(calculate_S, axis=1, agents_df=agents_df)

In [ ]:
print(demandes_traiter_df.columns)
print(demandes_traiter_df.head(5))
print(demandes_traiter_df.tail(5))

Index(['N_Demande_CH', 'Matricule', 'Nom_Prenom', ' Ville', 'Etablissement',
       'date_de_debut_sejour', 'date_fin_sejour', 'Type_de_vue', 'sit_fam',
       'Nbr_enf', 'Date_embauche', 'retraite', 'A', 'S'],
      dtype='object')
  N_Demande_CH  Matricule           Nom_Prenom      Ville Etablissement  \
0       CH-101       1000   Bentimzal mohammed  khouribga     marakeche
1       CH-102       1001        Bella khadija  khouribga    capo negro
2      CH-1003       1002           nasri imad  khouribga    capo negro
3      CH-1004       1003          Khiar Siham  khouribga    capo negro
4      CH-1005      20047   Elkarouiti Chaimaa  khouribga      bouznika

  date_de_debut_sejour date_fin_sejour Type_de_vue      sit_fam  Nbr_enf  \
0           2024-08-07      2024-08-14  2ch+1salon        Marie        2
1           2024-08-08      2024-08-16  2ch+1salon     Marie(e)        2
2           2024-08-07      2024-08-14  3ch+1salon        Marie        3
3           2024-08-08      2024-08-16  2ch+1salon  celebataire        0
4           2024-09-12      2024-09-21  2ch+1salon     Marie(e)        5

  Date_embauche  retraite    A   S
0    1999-01-10      25.0  306   8
1    1998-02-11      26.0  317   8
2    1991-05-14      33.0  397  12
3    1992-06-11      32.0  385   0
4    1993-02-15      31.0  376  20
   N_Demande_CH  Matricule         Nom_Prenom      Ville Etablissement  \
11      CH-1011    4712300  Ridallah Nissrine  khouribga     marakeche
12     CH-10012     478152      Bousaid Rabab  khouribga    capo negro
13     CH-10013    1111111       nasri lamine  khouribga     marakeche
15         CH-1         11      karima fatihi  khouribga     marakeche
17         CH-3         13      najlali jalal  khouribga      bouznika

   date_de_debut_sejour date_fin_sejour Type_de_vue    sit_fam  Nbr_enf  \
11           2024-08-07      2024-08-14  2ch+1salon  Marie ocp        1
12           2024-09-05      2024-09-10  2ch+1salon   Marie(e)        3
13           2024-08-07      2024-08-14  2ch+1salon      Marie        3
15           2024-08-07      2024-08-14  2ch+1salon   Marie(e)        2
17           2024-09-12      2024-09-21  2ch+1salon      Marie        4

   Date_embauche  retraite    A   S
11    1997-01-15      27.0  329   4
12    1996-02-13      28.0  340  12
13    1993-05-14      31.0  373  12
15    1980-05-10      44.0  530   8
17    1990-02-13      34.0  412  16

## Calculate D

In [ ]:
# Create a function to calculate 'D' based on conditions
def calculate_D(row, historique_df):
    matricule = row['Matricule']
    matricule_rows = historique_df[historique_df['Matricule'] == matricule]
    
    total_D = 0
    
    for index, hist_row in matricule_rows.iterrows():
        date_de_debut_sejour = hist_row['date_de_debut_sejour']
        year_difference = datetime.now().year - date_de_debut_sejour.year
        
        if year_difference == 1:
            total_D += 140
        elif year_difference == 2:
            total_D += 90
        elif year_difference == 3:
            total_D += 50
        elif year_difference >= 4:
            total_D += 20
    
    return total_D

# Calculate 'D' for each row in demandes_traiter_df using the calculate_D function
demandes_traiter_df['D'] = demandes_traiter_df.apply(calculate_D, axis=1, historique_df=historique_df)

# Fill NaN values with 0 in case there are Matricules in demandes_traiter_df that didn't occur in historique_df
demandes_traiter_df['D'].fillna(0, inplace=True)

In [ ]:
print(demandes_traiter_df.columns)
print(demandes_traiter_df.head(5))
print(demandes_traiter_df.tail(5))

Index(['N_Demande_CH', 'Matricule', 'Nom_Prenom', ' Ville', 'Etablissement',
       'date_de_debut_sejour', 'date_fin_sejour', 'Type_de_vue', 'sit_fam',
       'Nbr_enf', 'Date_embauche', 'retraite', 'A', 'S', 'D'],
      dtype='object')
  N_Demande_CH  Matricule           Nom_Prenom      Ville Etablissement  \
0       CH-101       1000   Bentimzal mohammed  khouribga     marakeche
1       CH-102       1001        Bella khadija  khouribga    capo negro
2      CH-1003       1002           nasri imad  khouribga    capo negro
3      CH-1004       1003          Khiar Siham  khouribga    capo negro
4      CH-1005      20047   Elkarouiti Chaimaa  khouribga      bouznika

  date_de_debut_sejour date_fin_sejour Type_de_vue      sit_fam  Nbr_enf  \
0           2024-08-07      2024-08-14  2ch+1salon        Marie        2
1           2024-08-08      2024-08-16  2ch+1salon     Marie(e)        2
2           2024-08-07      2024-08-14  3ch+1salon        Marie        3
3           2024-08-08      2024-08-16  2ch+1salon  celebataire        0
4           2024-09-12      2024-09-21  2ch+1salon     Marie(e)        5

  Date_embauche  retraite    A   S    D
0    1999-01-10      25.0  306   8    0
1    1998-02-11      26.0  317   8   50
2    1991-05-14      33.0  397  12   90
3    1992-06-11      32.0  385   0  230
4    1993-02-15      31.0  376  20   50
   N_Demande_CH  Matricule         Nom_Prenom      Ville Etablissement  \
11      CH-1011    4712300  Ridallah Nissrine  khouribga     marakeche
12     CH-10012     478152      Bousaid Rabab  khouribga    capo negro
13     CH-10013    1111111       nasri lamine  khouribga     marakeche
15         CH-1         11      karima fatihi  khouribga     marakeche
17         CH-3         13      najlali jalal  khouribga      bouznika

   date_de_debut_sejour date_fin_sejour Type_de_vue    sit_fam  Nbr_enf  \
11           2024-08-07      2024-08-14  2ch+1salon  Marie ocp        1
12           2024-09-05      2024-09-10  2ch+1salon   Marie(e)        3
13           2024-08-07      2024-08-14  2ch+1salon      Marie        3
15           2024-08-07      2024-08-14  2ch+1salon   Marie(e)        2
17           2024-09-12      2024-09-21  2ch+1salon      Marie        4

   Date_embauche  retraite    A   S    D
11    1997-01-15      27.0  329   4  110
12    1996-02-13      28.0  340  12    0
13    1993-05-14      31.0  373  12    0
15    1980-05-10      44.0  530   8    0
17    1990-02-13      34.0  412  16    0

## Calculate P

In [ ]:
# Calculate 'P' based on the formula P = 2 * (A + S) - D
demandes_traiter_df['P'] = 2 * (demandes_traiter_df['A'] + demandes_traiter_df['S']) - demandes_traiter_df['D']

In [ ]:
print(demandes_traiter_df.columns)
print(demandes_traiter_df.head(5))
print(demandes_traiter_df.tail(5))

Index(['N_Demande_CH', 'Matricule', 'Nom_Prenom', ' Ville', 'Etablissement',
       'date_de_debut_sejour', 'date_fin_sejour', 'Type_de_vue', 'sit_fam',
       'Nbr_enf', 'Date_embauche', 'retraite', 'A', 'S', 'D', 'P'],
      dtype='object')
  N_Demande_CH  Matricule           Nom_Prenom      Ville Etablissement  \
0       CH-101       1000   Bentimzal mohammed  khouribga     marakeche
1       CH-102       1001        Bella khadija  khouribga    capo negro
2      CH-1003       1002           nasri imad  khouribga    capo negro
3      CH-1004       1003          Khiar Siham  khouribga    capo negro
4      CH-1005      20047   Elkarouiti Chaimaa  khouribga      bouznika

  date_de_debut_sejour date_fin_sejour Type_de_vue      sit_fam  Nbr_enf  \
0           2024-08-07      2024-08-14  2ch+1salon        Marie        2
1           2024-08-08      2024-08-16  2ch+1salon     Marie(e)        2
2           2024-08-07      2024-08-14  3ch+1salon        Marie        3
3           2024-08-08      2024-08-16  2ch+1salon  celebataire        0
4           2024-09-12      2024-09-21  2ch+1salon     Marie(e)        5

  Date_embauche  retraite    A   S    D    P
0    1999-01-10      25.0  306   8    0  628
1    1998-02-11      26.0  317   8   50  600
2    1991-05-14      33.0  397  12   90  728
3    1992-06-11      32.0  385   0  230  540
4    1993-02-15      31.0  376  20   50  742
   N_Demande_CH  Matricule         Nom_Prenom      Ville Etablissement  \
11      CH-1011    4712300  Ridallah Nissrine  khouribga     marakeche
12     CH-10012     478152      Bousaid Rabab  khouribga    capo negro
13     CH-10013    1111111       nasri lamine  khouribga     marakeche
15         CH-1         11      karima fatihi  khouribga     marakeche
17         CH-3         13      najlali jalal  khouribga      bouznika

   date_de_debut_sejour date_fin_sejour Type_de_vue    sit_fam  Nbr_enf  \
11           2024-08-07      2024-08-14  2ch+1salon  Marie ocp        1
12           2024-09-05      2024-09-10  2ch+1salon   Marie(e)        3
13           2024-08-07      2024-08-14  2ch+1salon      Marie        3
15           2024-08-07      2024-08-14  2ch+1salon   Marie(e)        2
17           2024-09-12      2024-09-21  2ch+1salon      Marie        4

   Date_embauche  retraite    A   S    D     P
11    1997-01-15      27.0  329   4  110   556
12    1996-02-13      28.0  340  12    0   704
13    1993-05-14      31.0  373  12    0   770
15    1980-05-10      44.0  530   8    0  1076
17    1990-02-13      34.0  412  16    0   856

## Sorting based on 'P'

In [ ]:
# Sort demandes_traiter_df based on the 'P' column in descending order
demandes_traiter_df = demandes_traiter_df.sort_values(by='P', ascending=False)

In [ ]:
print(demandes_traiter_df.columns)
print(demandes_traiter_df.head(5))
print(demandes_traiter_df.tail(5))

Index(['N_Demande_CH', 'Matricule', 'Nom_Prenom', ' Ville', 'Etablissement',
       'date_de_debut_sejour', 'date_fin_sejour', 'Type_de_vue', 'sit_fam',
       'Nbr_enf', 'Date_embauche', 'retraite', 'A', 'S', 'D', 'P'],
      dtype='object')
   N_Demande_CH  Matricule          Nom_Prenom      Ville Etablissement  \
15         CH-1         11       karima fatihi  khouribga     marakeche
17         CH-3         13       najlali jalal  khouribga      bouznika
13     CH-10013    1111111        nasri lamine  khouribga     marakeche
4       CH-1005      20047  Elkarouiti Chaimaa  khouribga      bouznika
2       CH-1003       1002          nasri imad  khouribga    capo negro

   date_de_debut_sejour date_fin_sejour Type_de_vue   sit_fam  Nbr_enf  \
15           2024-08-07      2024-08-14  2ch+1salon  Marie(e)        2
17           2024-09-12      2024-09-21  2ch+1salon     Marie        4
13           2024-08-07      2024-08-14  2ch+1salon     Marie        3
4            2024-09-12      2024-09-21  2ch+1salon  Marie(e)        5
2            2024-08-07      2024-08-14  3ch+1salon     Marie        3

   Date_embauche  retraite    A   S   D     P
15    1980-05-10      44.0  530   8   0  1076
17    1990-02-13      34.0  412  16   0   856
13    1993-05-14      31.0  373  12   0   770
4     1993-02-15      31.0  376  20  50   742
2     1991-05-14      33.0  397  12  90   728
   N_Demande_CH  Matricule          Nom_Prenom      Ville Etablissement  \
5        CH-105      20141      Houbbadi Assia  khouribga    capo negro
8        CH-108     417542  FATIH MOHAMEDAMINE  khouribga     marakeche
6        CH-106      20147         Saine Ayoub  khouribga     marakeche
7        CH-107     248756     Boumlik Youness  khouribga      bouznika
10      CH-1010      36985     benhamou Hassan  khouribga    capo negro

   date_de_debut_sejour date_fin_sejour Type_de_vue  sit_fam  Nbr_enf  \
5            2024-08-08      2024-08-16  2ch+1salon    Marie        2
8            2024-08-07      2024-08-14  2ch+1salon    Marie        2
6            2024-08-07      2024-08-14  2ch+1salon    Marie        3
7            2024-09-12      2024-09-21  2ch+1salon    Marie        4
10           2024-09-12      2024-09-21  2ch+1salon  Divorce        2

   Date_embauche  retraite    A   S    D    P
5     2000-08-10      23.0  287   8   50  540
8     2004-01-04      20.0  246   8    0  508
6     2001-01-14      23.0  281  12  110  476
7     2002-09-14      21.0  261  16   90  464
10    1998-11-14      25.0  307   0  160  454

### Group the DataFrame by 'Etablissement' and sort each group by 'P' in descending order

In [ ]:
# Get unique values in 'Etablissement' column
unique_etablissements = demandes_traiter_df['Etablissement'].unique()

# Print or inspect unique values
print("Unique Etablissement values:")
print(unique_etablissements)

Unique Etablissement values:
['marakeche' 'bouznika' 'capo negro']

In [ ]:
grouped = demandes_traiter_df.groupby('Etablissement')

# Create empty dictionary to store sorted DataFrames
sorted_dfs = {}

# Iterate through each group, sort by 'P', and store in sorted_dfs
for etab, group_df in grouped:
    sorted_df = group_df.sort_values(by='P', ascending=False).reset_index(drop=True)
    sorted_dfs[etab] = sorted_df

In [ ]:
# Print or access sorted DataFrames from sorted_dfs dictionary
for etab, sorted_df in sorted_dfs.items():
    print(f"Sorted DataFrame for Etablissement '{etab}':")
    print(sorted_df)
    print()

Sorted DataFrame for Etablissement 'bouznika':
  N_Demande_CH  Matricule          Nom_Prenom      Ville Etablissement  \
0         CH-3         13       najlali jalal  khouribga      bouznika
1      CH-1005      20047  Elkarouiti Chaimaa  khouribga      bouznika
2       CH-107     248756     Boumlik Youness  khouribga      bouznika

  date_de_debut_sejour date_fin_sejour Type_de_vue   sit_fam  Nbr_enf  \
0           2024-09-12      2024-09-21  2ch+1salon     Marie        4
1           2024-09-12      2024-09-21  2ch+1salon  Marie(e)        5
2           2024-09-12      2024-09-21  2ch+1salon     Marie        4

  Date_embauche  retraite    A   S   D    P
0    1990-02-13      34.0  412  16   0  856
1    1993-02-15      31.0  376  20  50  742
2    2002-09-14      21.0  261  16  90  464

Sorted DataFrame for Etablissement 'capo negro':
  N_Demande_CH  Matricule       Nom_Prenom      Ville Etablissement  \
0      CH-1003       1002       nasri imad  khouribga    capo negro
1     CH-10012     478152    Bousaid Rabab  khouribga    capo negro
2       CH-102       1001    Bella khadija  khouribga    capo negro
3      CH-1004       1003      Khiar Siham  khouribga    capo negro
4       CH-105      20141   Houbbadi Assia  khouribga    capo negro
5      CH-1010      36985  benhamou Hassan  khouribga    capo negro

  date_de_debut_sejour date_fin_sejour Type_de_vue      sit_fam  Nbr_enf  \
0           2024-08-07      2024-08-14  3ch+1salon        Marie        3
1           2024-09-05      2024-09-10  2ch+1salon     Marie(e)        3
2           2024-08-08      2024-08-16  2ch+1salon     Marie(e)        2
3           2024-08-08      2024-08-16  2ch+1salon  celebataire        0
4           2024-08-08      2024-08-16  2ch+1salon        Marie        2
5           2024-09-12      2024-09-21  2ch+1salon      Divorce        2

  Date_embauche  retraite    A   S    D    P
0    1991-05-14      33.0  397  12   90  728
1    1996-02-13      28.0  340  12    0  704
2    1998-02-11      26.0  317   8   50  600
3    1992-06-11      32.0  385   0  230  540
4    2000-08-10      23.0  287   8   50  540
5    1998-11-14      25.0  307   0  160  454

Sorted DataFrame for Etablissement 'marakeche':
  N_Demande_CH  Matricule           Nom_Prenom      Ville Etablissement  \
0         CH-1         11        karima fatihi  khouribga     marakeche
1     CH-10013    1111111         nasri lamine  khouribga     marakeche
2       CH-101       1000   Bentimzal mohammed  khouribga     marakeche
3       CH-109      14785     Elmechrafi Amine  khouribga     marakeche
4      CH-1011    4712300    Ridallah Nissrine  khouribga     marakeche
5       CH-108     417542   FATIH MOHAMEDAMINE  khouribga     marakeche
6       CH-106      20147          Saine Ayoub  khouribga     marakeche

  date_de_debut_sejour date_fin_sejour Type_de_vue    sit_fam  Nbr_enf  \
0           2024-08-07      2024-08-14  2ch+1salon   Marie(e)        2
1           2024-08-07      2024-08-14  2ch+1salon      Marie        3
2           2024-08-07      2024-08-14  2ch+1salon      Marie        2
3           2024-08-07      2024-08-14  2ch+1salon      Marie        3
4           2024-08-07      2024-08-14  2ch+1salon  Marie ocp        1
5           2024-08-07      2024-08-14  2ch+1salon      Marie        2
6           2024-08-07      2024-08-14  2ch+1salon      Marie        3

  Date_embauche  retraite    A   S    D     P
0    1980-05-10      44.0  530   8    0  1076
1    1993-05-14      31.0  373  12    0   770
2    1999-01-10      25.0  306   8    0   628
3    1996-05-13      28.0  337  12  140   558
4    1997-01-15      27.0  329   4  110   556
5    2004-01-04      20.0  246   8    0   508
6    2001-01-14      23.0  281  12  110   476

## Sort each DataFrame by 'Type_de_vue' and then by 'P'

In [ ]:
# Create empty dictionary to store sorted DataFrames
sorted_dfs = {}

# Iterate through each group
for etab, group_df in grouped:
    # Group by 'Type_de_vue' within each 'Etablissement' group
    type_vue_groups = group_df.groupby('Type_de_vue')
    etab_sorted_df = pd.DataFrame()
    
    # Sort each 'Type_de_vue' group by 'P' descending
    for type_vue, type_vue_df in type_vue_groups:
        sorted_df = type_vue_df.sort_values(by='P', ascending=False).reset_index(drop=True)
        etab_sorted_df = pd.concat([etab_sorted_df, sorted_df], ignore_index=True)
    
    # Store the sorted DataFrame for the current 'Etablissement'
    sorted_dfs[etab] = etab_sorted_df

In [ ]:
# Accessing and printing sorted DataFrames for each unique 'Etablissement'
for etab, sorted_df in sorted_dfs.items():
    print(f"Sorted DataFrame for Etablissement '{etab}':")
    print(sorted_df)
    print()

Sorted DataFrame for Etablissement 'bouznika':
  N_Demande_CH  Matricule          Nom_Prenom      Ville Etablissement  \
0         CH-3         13       najlali jalal  khouribga      bouznika
1      CH-1005      20047  Elkarouiti Chaimaa  khouribga      bouznika
2       CH-107     248756     Boumlik Youness  khouribga      bouznika

  date_de_debut_sejour date_fin_sejour Type_de_vue   sit_fam  Nbr_enf  \
0           2024-09-12      2024-09-21  2ch+1salon     Marie        4
1           2024-09-12      2024-09-21  2ch+1salon  Marie(e)        5
2           2024-09-12      2024-09-21  2ch+1salon     Marie        4

  Date_embauche  retraite    A   S   D    P
0    1990-02-13      34.0  412  16   0  856
1    1993-02-15      31.0  376  20  50  742
2    2002-09-14      21.0  261  16  90  464

Sorted DataFrame for Etablissement 'capo negro':
  N_Demande_CH  Matricule       Nom_Prenom      Ville Etablissement  \
0     CH-10012     478152    Bousaid Rabab  khouribga    capo negro
1       CH-102       1001    Bella khadija  khouribga    capo negro
2      CH-1004       1003      Khiar Siham  khouribga    capo negro
3       CH-105      20141   Houbbadi Assia  khouribga    capo negro
4      CH-1010      36985  benhamou Hassan  khouribga    capo negro
5      CH-1003       1002       nasri imad  khouribga    capo negro

  date_de_debut_sejour date_fin_sejour Type_de_vue      sit_fam  Nbr_enf  \
0           2024-09-05      2024-09-10  2ch+1salon     Marie(e)        3
1           2024-08-08      2024-08-16  2ch+1salon     Marie(e)        2
2           2024-08-08      2024-08-16  2ch+1salon  celebataire        0
3           2024-08-08      2024-08-16  2ch+1salon        Marie        2
4           2024-09-12      2024-09-21  2ch+1salon      Divorce        2
5           2024-08-07      2024-08-14  3ch+1salon        Marie        3

  Date_embauche  retraite    A   S    D    P
0    1996-02-13      28.0  340  12    0  704
1    1998-02-11      26.0  317   8   50  600
2    1992-06-11      32.0  385   0  230  540
3    2000-08-10      23.0  287   8   50  540
4    1998-11-14      25.0  307   0  160  454
5    1991-05-14      33.0  397  12   90  728

Sorted DataFrame for Etablissement 'marakeche':
  N_Demande_CH  Matricule           Nom_Prenom      Ville Etablissement  \
0         CH-1         11        karima fatihi  khouribga     marakeche
1     CH-10013    1111111         nasri lamine  khouribga     marakeche
2       CH-101       1000   Bentimzal mohammed  khouribga     marakeche
3       CH-109      14785     Elmechrafi Amine  khouribga     marakeche
4      CH-1011    4712300    Ridallah Nissrine  khouribga     marakeche
5       CH-108     417542   FATIH MOHAMEDAMINE  khouribga     marakeche
6       CH-106      20147          Saine Ayoub  khouribga     marakeche

  date_de_debut_sejour date_fin_sejour Type_de_vue    sit_fam  Nbr_enf  \
0           2024-08-07      2024-08-14  2ch+1salon   Marie(e)        2
1           2024-08-07      2024-08-14  2ch+1salon      Marie        3
2           2024-08-07      2024-08-14  2ch+1salon      Marie        2
3           2024-08-07      2024-08-14  2ch+1salon      Marie        3
4           2024-08-07      2024-08-14  2ch+1salon  Marie ocp        1
5           2024-08-07      2024-08-14  2ch+1salon      Marie        2
6           2024-08-07      2024-08-14  2ch+1salon      Marie        3

  Date_embauche  retraite    A   S    D     P
0    1980-05-10      44.0  530   8    0  1076
1    1993-05-14      31.0  373  12    0   770
2    1999-01-10      25.0  306   8    0   628
3    1996-05-13      28.0  337  12  140   558
4    1997-01-15      27.0  329   4  110   556
5    2004-01-04      20.0  246   8    0   508
6    2001-01-14      23.0  281  12  110   476

## Export a pdf

In [ ]:
from reportlab.lib.pagesizes import letter
from reportlab.lib import colors
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle, Paragraph
from reportlab.lib.styles import getSampleStyleSheet

# Function to create a PDF with the sorted data
def create_pdf(data_dict, filename):
    doc = SimpleDocTemplate(filename, pagesize=letter)
    elements = []
    styles = getSampleStyleSheet()
    title_style = styles['Title']
    table_style = TableStyle([
        ('BACKGROUND', (0, 0), (-1, 0), colors.grey),
        ('TEXTCOLOR', (0, 0), (-1, 0), colors.whitesmoke),
        ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
        ('FONTNAME', (0, 0), (-1, 0), 'Helvetica-Bold'),
        ('BOTTOMPADDING', (0, 0), (-1, 0), 12),
        ('BACKGROUND', (0, 1), (-1, -1), colors.beige),
        ('GRID', (0, 0), (-1, -1), 1, colors.black),
    ])
    

    for etab, df in data_dict.items():
        # Group by 'Type_de_vue' within each 'Etablissement' group
        type_vue_groups = df.groupby('Type_de_vue')

        for type_vue, type_vue_df in type_vue_groups:
            # Add title
            title_text = f"Classement de ville {etab} pour la vue {type_vue} "
            title = Paragraph(title_text, title_style)
            elements.append(title)

            # Create table data
            data = [['N_Demande_CH', 'Matricule', 'Nom_Prenom', 'date_de_debut_sejour', 'date_fin_sejour', 'P']]
            for _, row in type_vue_df.iterrows():
                data.append([row['N_Demande_CH'], row['Matricule'], row['Nom_Prenom'],
                             row['date_de_debut_sejour'], row['date_fin_sejour'], row['P']])

            # Create table
            table = Table(data)
            table.setStyle(table_style)
            elements.append(table)
            elements.append(Paragraph("<br/>", styles['BodyText']))  # Add some space between tables

    # Build PDF
    doc.build(elements)

# Assuming sorted_dfs is the dictionary containing sorted DataFrames for each Etablissement
create_pdf(sorted_dfs, "sorted_groups_with_P.pdf")

In [ ]:
from reportlab.lib.pagesizes import letter
from reportlab.lib import colors
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle, Paragraph
from reportlab.lib.styles import getSampleStyleSheet

# Function to create a PDF with the sorted data and quota handling
def create_pdf(data_dict, quota_df, filename):
    doc = SimpleDocTemplate(filename, pagesize=letter)
    elements = []
    

    styles = getSampleStyleSheet()
    title_style = styles['Title']
    table_style = TableStyle([
        ('BACKGROUND', (0, 0), (-1, 0), colors.grey),
        ('TEXTCOLOR', (0, 0), (-1, 0), colors.whitesmoke),
        ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
        ('FONTNAME', (0, 0), (-1, 0), 'Helvetica-Bold'),
        ('BOTTOMPADDING', (0, 0), (-1, 0), 12),
        ('BACKGROUND', (0, 1), (-1, -1), colors.beige),
        ('GRID', (0, 0), (-1, -1), 1, colors.black),
    ])

    for etab, df in data_dict.items():
        # Group by 'Type_de_vue' within each 'Etablissement' group
        type_vue_groups = df.groupby('Type_de_vue')

        for type_vue, type_vue_df in type_vue_groups:
            # Add title
            title_text = f"Classement de ville {etab} pour la vue {type_vue}"
            title = Paragraph(title_text, title_style)
            elements.append(title)

            # Get the quota value for the current etablissement and type_de_vue
            quota_value = quota_df[(quota_df['Etablissement'] == etab) & (quota_df['Type_de_vue'] == type_vue)]['qota'].values[0]

            # Create table data
            data_top = [['N_Demande_CH', 'Matricule', 'Nom_Prenom', 'date_de_debut_sejour', 'date_fin_sejour', 'P']]
            data_waiting_list = [['N_Demande_CH', 'Matricule', 'Nom_Prenom', 'date_de_debut_sejour', 'date_fin_sejour', 'P']]

            # Iterate over rows and split based on quota
            for idx, row in type_vue_df.iterrows():
                if idx < quota_value :
                    data_top.append([row['N_Demande_CH'], row['Matricule'], row['Nom_Prenom'],
                                     row['date_de_debut_sejour'].strftime('%Y-%m-%d'), row['date_fin_sejour'].strftime('%Y-%m-%d'), row['P']])
                else:
                    data_waiting_list.append([row['N_Demande_CH'], row['Matricule'], row['Nom_Prenom'],
                                              row['date_de_debut_sejour'].strftime('%Y-%m-%d'), row['date_fin_sejour'].strftime('%Y-%m-%d'), row['P']])

            # Create tables
            table_top = Table(data_top)
            table_top.setStyle(table_style)
            elements.append(table_top)
            elements.append(Paragraph("<br/>", styles['BodyText']))  # Add some space between tables
             # Add title
            title_wait = f"Liste d'attente de ville {etab} pour la vue {type_vue} "
            title1 = Paragraph(title_wait, title_style)
            elements.append(title1)
            table_quota= Table(data_waiting_list)
            table_quota.setStyle(table_style)
            elements.append(table_quota)

            

    # Build PDF
    doc.build(elements)

# Assuming sorted_dfs is the dictionary containing sorted DataFrames for each Etablissement
# Assuming quota_df is the DataFrame containing quota values
create_pdf(sorted_dfs, quota_df, "sorted_groups_with_P_and_quota_final.pdf")

In [ ]:
from reportlab.lib.pagesizes import letter
from reportlab.lib import colors
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle, Paragraph, PageBreak
from reportlab.lib.styles import getSampleStyleSheet

# Function to create a PDF with the sorted data and quota handling
def create_pdf(data_dict, quota_df, filename):
    doc = SimpleDocTemplate(filename, pagesize=letter)
    elements = []

    styles = getSampleStyleSheet()
    title_style = styles['Title']
    table_style = TableStyle([
        ('BACKGROUND', (0, 0), (-1, 0), colors.grey),
        ('TEXTCOLOR', (0, 0), (-1, 0), colors.whitesmoke),
        ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
        ('FONTNAME', (0, 0), (-1, 0), 'Helvetica-Bold'),
        ('BOTTOMPADDING', (0, 0), (-1, 0), 12),
        ('BACKGROUND', (0, 1), (-1, -1), colors.beige),
        ('GRID', (0, 0), (-1, -1), 1, colors.black),
    ])

    table_style_waiting = TableStyle([
        ('BACKGROUND', (0, 0), (-1, 0), colors.grey),
        ('TEXTCOLOR', (0, 0), (-1, 0), colors.whitesmoke),
        ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
        ('FONTNAME', (0, 0), (-1, 0), 'Helvetica-Bold'),
        ('BOTTOMPADDING', (0, 0), (-1, 0), 12),
        ('BACKGROUND', (0, 1), (-1, -1), colors.lightcoral),
        ('GRID', (0, 0), (-1, -1), 1, colors.black),
    ])

    for etab, df in data_dict.items():
        print(f"Processing Etablissement: {etab}")  # Debug statement
        # Group by 'Type_de_vue' within each 'Etablissement' group
        type_vue_groups = df.groupby('Type_de_vue')

        for type_vue, type_vue_df in type_vue_groups:
            print(f"Processing Type_de_vue: {type_vue}")  # Debug statement
            # Add title
            title_text = f"Classement de ville {etab} pour la vue {type_vue}"
            title = Paragraph(title_text, title_style)
            elements.append(title)

            # Get the quota value for the current etablissement and type_de_vue
            try:
                quota_value = quota_df[(quota_df['Etablissement'] == etab) & (quota_df['Type_de_vue'] == type_vue)]['qota'].values[0]
                print(f"Quota value for {etab} and {type_vue}: {quota_value}")  # Debug statement
            except IndexError:
                print(f"No quota found for {etab} and {type_vue}")  # Debug statement
                quota_value = 0

            # Create table data
            data_top = [['N_Demande_CH', 'Matricule', 'Nom_Prenom', 'date_de_debut_sejour', 'date_fin_sejour', 'P']]
            data_waiting_list = [['N_Demande_CH', 'Matricule', 'Nom_Prenom', 'date_de_debut_sejour', 'date_fin_sejour', 'P']]

            # Iterate over rows and split based on quota
            for idx, row in type_vue_df.iterrows():
                print(f"Processing row {idx} for {etab} and {type_vue}")  # Debug statement
                if idx < quota_value:  # Correctly handle indexing
                    data_top.append([row['N_Demande_CH'], row['Matricule'], row['Nom_Prenom'],
                                     row['date_de_debut_sejour'].strftime('%Y-%m-%d'), row['date_fin_sejour'].strftime('%Y-%m-%d'), row['P']])
                else:
                    data_waiting_list.append([row['N_Demande_CH'], row['Matricule'], row['Nom_Prenom'],
                                              row['date_de_debut_sejour'].strftime('%Y-%m-%d'), row['date_fin_sejour'].strftime('%Y-%m-%d'), row['P']])

            # Create tables
            table_top = Table(data_top)
            table_top.setStyle(table_style)
            elements.append(table_top)
            elements.append(Paragraph("<br/>", styles['BodyText']))  # Add some space between tables

            # Add title for waiting list
            title_wait = f"Liste d'attente de ville {etab} pour la vue {type_vue}"
            title1 = Paragraph(title_wait, title_style)
            elements.append(title1)

            table_quota = Table(data_waiting_list)
            table_quota.setStyle(table_style_waiting)
            elements.append(table_quota)

            # Add a page break after each combination of Etablissement and Type_de_vue
            elements.append(PageBreak())

    # Build PDF
    doc.build(elements)

# Assuming sorted_dfs is the dictionary containing sorted DataFrames for each Etablissement
# Assuming quota_df is the DataFrame containing quota values
create_pdf(sorted_dfs, quota_df, "sorted_groups_with_P_and_quota_blank.pdf")

Processing Etablissement: bouznika
Processing Type_de_vue: 2ch+1salon
Quota value for bouznika and 2ch+1salon: 1
Processing row 0 for bouznika and 2ch+1salon
Processing row 1 for bouznika and 2ch+1salon
Processing row 2 for bouznika and 2ch+1salon
Processing Etablissement: capo negro
Processing Type_de_vue: 2ch+1salon
Quota value for capo negro and 2ch+1salon: 1
Processing row 0 for capo negro and 2ch+1salon
Processing row 1 for capo negro and 2ch+1salon
Processing row 2 for capo negro and 2ch+1salon
Processing row 3 for capo negro and 2ch+1salon
Processing row 4 for capo negro and 2ch+1salon
Processing Type_de_vue: 3ch+1salon
Quota value for capo negro and 3ch+1salon: 1
Processing row 5 for capo negro and 3ch+1salon
Processing Etablissement: marakeche
Processing Type_de_vue: 2ch+1salon
Quota value for marakeche and 2ch+1salon: 1
Processing row 0 for marakeche and 2ch+1salon
Processing row 1 for marakeche and 2ch+1salon
Processing row 2 for marakeche and 2ch+1salon
Processing row 3 for marakeche and 2ch+1salon
Processing row 4 for marakeche and 2ch+1salon
Processing row 5 for marakeche and 2ch+1salon
Processing row 6 for marakeche and 2ch+1salon

In [ ]:
from reportlab.lib.pagesizes import letter
from reportlab.lib import colors
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle, Paragraph
from reportlab.lib.styles import getSampleStyleSheet

def create_pdf(data_dict, quota_df, filename):
    doc = SimpleDocTemplate(filename, pagesize=letter)
    elements = []

    styles = getSampleStyleSheet()
    title_style = styles['Title']
    table_style = TableStyle([
        ('BACKGROUND', (0, 0), (-1, 0), colors.grey),
        ('TEXTCOLOR', (0, 0), (-1, 0), colors.whitesmoke),
        ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
        ('FONTNAME', (0, 0), (-1, 0), 'Helvetica-Bold'),
        ('BOTTOMPADDING', (0, 0), (-1, 0), 12),
        ('BACKGROUND', (0, 1), (-1, -1), colors.beige),
        ('GRID', (0, 0), (-1, -1), 1, colors.black),
    ])

    for etab, df in data_dict.items():
        type_vue_groups = df.groupby('Type_de_vue')

        for type_vue, type_vue_df in type_vue_groups:
            title_text = f"Classement de ville {etab} pour la vue {type_vue}"
            title = Paragraph(title_text, title_style)
            elements.append(title)

            quota_value = quota_df[(quota_df['Etablissement'] == etab) & (quota_df['Type_de_vue'] == type_vue)]['qota'].values[0]

            data_top = [['N_Demande_CH', 'Matricule', 'Nom_Prenom', 'date_de_debut_sejour', 'date_fin_sejour', 'P']]
            data_waiting_list = [['N_Demande_CH', 'Matricule', 'Nom_Prenom', 'date_de_debut_sejour', 'date_fin_sejour', 'P']]

            for idx, row in type_vue_df.iterrows():
                if idx < quota_value:
                    data_top.append([row['N_Demande_CH'], row['Matricule'], row['Nom_Prenom'],
                                     row['date_de_debut_sejour'].strftime('%Y-%m-%d'), row['date_fin_sejour'].strftime('%Y-%m-%d'), row['P']])
                else:
                    data_waiting_list.append([row['N_Demande_CH'], row['Matricule'], row['Nom_Prenom'],
                                              row['date_de_debut_sejour'].strftime('%Y-%m-%d'), row['date_fin_sejour'].strftime('%Y-%m-%d'), row['P']])

            table_top = Table(data_top)
            table_top.setStyle(table_style)
            elements.append(table_top)
            elements.append(Paragraph("<br/>", styles['BodyText']))

            if len(data_top) > quota_value:
                title_wait = f"Liste d'attente de ville {etab} pour la vue {type_vue}"
                title1 = Paragraph(title_wait, title_style)
                elements.append(title1)
                table_quota = Table(data_waiting_list)
                table_quota.setStyle(table_style)
                elements.append(table_quota)

    doc.build(elements)

# Assuming sorted_dfs is the dictionary containing sorted DataFrames for each Etablissement
# Assuming quota_df is the DataFrame containing quota values
create_pdf(sorted_dfs, quota_df, "sorted_groups_with_P_and_quota.pdf")

In [ ]:
from reportlab.lib.pagesizes import letter
from reportlab.lib import colors
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle, Paragraph, PageBreak
from reportlab.lib.styles import getSampleStyleSheet
import pandas as pd

# Function to create a PDF with the sorted data and quota handling
def create_pdf(data_dict, quota_df, filename):
    doc = SimpleDocTemplate(filename, pagesize=letter)
    elements = []

    styles = getSampleStyleSheet()
    title_style = styles['Title']
    table_style = TableStyle([
        ('BACKGROUND', (0, 0), (-1, 0), colors.grey),
        ('TEXTCOLOR', (0, 0), (-1, 0), colors.whitesmoke),
        ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
        ('FONTNAME', (0, 0), (-1, 0), 'Helvetica-Bold'),
        ('BOTTOMPADDING', (0, 0), (-1, 0), 12),
        ('BACKGROUND', (0, 1), (-1, -1), colors.beige),
        ('GRID', (0, 0), (-1, -1), 1, colors.black),
    ])

    table_style_waiting = TableStyle([
        ('BACKGROUND', (0, 0), (-1, 0), colors.grey),
        ('TEXTCOLOR', (0, 0), (-1, 0), colors.whitesmoke),
        ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
        ('FONTNAME', (0, 0), (-1, 0), 'Helvetica-Bold'),
        ('BOTTOMPADDING', (0, 0), (-1, 0), 12),
        ('BACKGROUND', (0, 1), (-1, -1), colors.lightcoral),
        ('GRID', (0, 0), (-1, -1), 1, colors.black),
    ])

    for etab, df in data_dict.items():
        print(f"Processing Etablissement: {etab}")  # Debug statement
        # Group by 'Type_de_vue' within each 'Etablissement' group
        type_vue_groups = df.groupby('Type_de_vue')

        for type_vue, type_vue_df in type_vue_groups:
            print(f"Processing Type_de_vue: {type_vue}")  # Debug statement
            # Add title
            title_text = f"Classement de ville {etab} pour la vue {type_vue}"
            title = Paragraph(title_text, title_style)
            elements.append(title)

            # Get the quota value for the current etablissement and type_de_vue
            try:
                quota_value = quota_df[(quota_df['Etablissement'] == etab) & (quota_df['Type_de_vue'] == type_vue)]['quota'].values[0]
                print(f"Quota value for {etab} and {type_vue}: {quota_value}")  # Debug statement
            except IndexError:
                print(f"No quota found for {etab} and {type_vue}")  # Debug statement
                quota_value = 0

            print(f"DataFrame for {etab} and {type_vue}:\n{type_vue_df}")  # Debug: Print the DataFrame

            # Create table data
            data_top = [['N_Demande_CH', 'Matricule', 'Nom_Prenom', 'date_de_debut_sejour', 'date_fin_sejour', 'P']]
            data_waiting_list = [['N_Demande_CH', 'Matricule', 'Nom_Prenom', 'date_de_debut_sejour', 'date_fin_sejour', 'P']]

            # Iterate over rows and split based on quota
            for idx, row in type_vue_df.iterrows():
                print(f"Processing row {idx} for {etab} and {type_vue}")  # Debug statement
                print(f"Row data: {row}")  # Debug: Print row data
                if idx < quota_value:  # Correctly handle indexing
                    data_top.append([row['N_Demande_CH'], row['Matricule'], row['Nom_Prenom'],
                                     row['date_de_debut_sejour'].strftime('%Y-%m-%d'), row['date_fin_sejour'].strftime('%Y-%m-%d'), row['P']])
                else:
                    data_waiting_list.append([row['N_Demande_CH'], row['Matricule'], row['Nom_Prenom'],
                                              row['date_de_debut_sejour'].strftime('%Y-%m-%d'), row['date_fin_sejour'].strftime('%Y-%m-%d'), row['P']])

            print(f"Top list data for {etab} and {type_vue}:\n{data_top}")  # Debug: Print the top list
            print(f"Waiting list data for {etab} and {type_vue}:\n{data_waiting_list}")  # Debug: Print the waiting list

            # Create tables
            table_top = Table(data_top)
            table_top.setStyle(table_style)
            elements.append(table_top)
            elements.append(Paragraph("<br/>", styles['BodyText']))  # Add some space between tables

            # Add title for waiting list
            title_wait = f"Liste d'attente de ville {etab} pour la vue {type_vue}"
            title1 = Paragraph(title_wait, title_style)
            elements.append(title1)

            table_quota = Table(data_waiting_list)
            table_quota.setStyle(table_style_waiting)
            elements.append(table_quota)

            # Add a page break after each combination of Etablissement and Type_de_vue
            elements.append(PageBreak())

    # Build PDF
    doc.build(elements)

# Sample data setup for testing
data = {
    'Etablissement': ['capo negro', 'capo negro', 'capo negro'],
    'Type_de_vue': ['3ch+1salon', '3ch+1salon', '3ch+1salon'],
    'N_Demande_CH': ['CH-1001', 'CH-1002', 'CH-1003'],
    'Matricule': ['1000', '1001', '1002'],
    'Nom_Prenom': ['John Doe', 'Jane Smith', 'nasri imad'],
    'date_de_debut_sejour': pd.to_datetime(['2024-08-08', '2024-08-09', '2024-08-07']),
    'date_fin_sejour': pd.to_datetime(['2024-08-16', '2024-08-16', '2024-08-14']),
    'P': [728, 728, 728]
}

sorted_dfs = {'capo negro': pd.DataFrame(data)}
quota_data = {
    'Etablissement': ['capo negro'],
    'Type_de_vue': ['3ch+1salon'],
    'quota': [3]
}
quota_df = pd.DataFrame(quota_data)

# Call the function with the sample data
create_pdf(sorted_dfs, quota_df, "sorted_groups_with_P_and_quota_bnk.pdf")

Processing Etablissement: capo negro
Processing Type_de_vue: 3ch+1salon
Quota value for capo negro and 3ch+1salon: 3
DataFrame for capo negro and 3ch+1salon:
  Etablissement Type_de_vue N_Demande_CH Matricule  Nom_Prenom  \
0    capo negro  3ch+1salon      CH-1001      1000    John Doe
1    capo negro  3ch+1salon      CH-1002      1001  Jane Smith
2    capo negro  3ch+1salon      CH-1003      1002  nasri imad

  date_de_debut_sejour date_fin_sejour    P
0           2024-08-08      2024-08-16  728
1           2024-08-09      2024-08-16  728
2           2024-08-07      2024-08-14  728
Processing row 0 for capo negro and 3ch+1salon
Row data: Etablissement                    capo negro
Type_de_vue                      3ch+1salon
N_Demande_CH                        CH-1001
Matricule                              1000
Nom_Prenom                         John Doe
date_de_debut_sejour    2024-08-08 00:00:00
date_fin_sejour         2024-08-16 00:00:00
P                                       728
Name: 0, dtype: object
Processing row 1 for capo negro and 3ch+1salon
Row data: Etablissement                    capo negro
Type_de_vue                      3ch+1salon
N_Demande_CH                        CH-1002
Matricule                              1001
Nom_Prenom                       Jane Smith
date_de_debut_sejour    2024-08-09 00:00:00
date_fin_sejour         2024-08-16 00:00:00
P                                       728
Name: 1, dtype: object
Processing row 2 for capo negro and 3ch+1salon
Row data: Etablissement                    capo negro
Type_de_vue                      3ch+1salon
N_Demande_CH                        CH-1003
Matricule                              1002
Nom_Prenom                       nasri imad
date_de_debut_sejour    2024-08-07 00:00:00
date_fin_sejour         2024-08-14 00:00:00
P                                       728
Name: 2, dtype: object
Top list data for capo negro and 3ch+1salon:
[['N_Demande_CH', 'Matricule', 'Nom_Prenom', 'date_de_debut_sejour', 'date_fin_sejour', 'P'], ['CH-1001', '1000', 'John Doe', '2024-08-08', '2024-08-16', 728], ['CH-1002', '1001', 'Jane Smith', '2024-08-09', '2024-08-16', 728], ['CH-1003', '1002', 'nasri imad', '2024-08-07', '2024-08-14', 728]]
Waiting list data for capo negro and 3ch+1salon:
[['N_Demande_CH', 'Matricule', 'Nom_Prenom', 'date_de_debut_sejour', 'date_fin_sejour', 'P']]